{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
    <h1>Профили бойцов</h1>
    <ul class="list-unstyled">
        {% for fighter in fighter_info %}
            <li>
                <h2>Боец: {{ fighter[1] }}</h2>
                <ul>
                    <li>Побед: {{ fighter[2] }}</li>
                    <li>Поражений: {{ fighter[3] }}</li>
                    <li>КД: {{ fighter[4] }}</li>
                </ul>
            </li>
        {% endfor %}
    </ul>

    <h2>Бои этого бойца:</h2>
    <ul class="list-unstyled">
        {% for fight in fights %}
            {% if fight[1] != 'skip' and fight[4] != 'skip' %}
                <li>
                    <strong>Бой:</strong> {{ fight[1] }} {{ fight[2] }} - {{ fight[3] }} {{ fight[4] }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <a href="{{ url_for('list_profiles') }}" class="btn btn-link">К профилям</a>
</div>
{% endblock %}